[Desktop Entry]
Version=1.0
Name=kzrnote
Comment=Take notes using Vim
Icon=kzrnote
Exec=kzrnote %U
Type=Application
Categories=Utility;
StartupNotify=true
