[Desktop Entry]
Version=1.0
Name=Vimnote
Comment=Take notes using Vim
Icon=vim
Exec=vimnote %U
Type=Application
Categories=Utility;
StartupNotify=true
